.book-filter {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.book-filter h1 {
    font-size: 1.75rem;
}

.book-filter form {
    display: grid;
    grid-template-columns: 50% 10% 10%;
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 20px;
    row-gap: 10px;
    text-align: left;
}

.book-filter input {
    padding: 5px;
    border: 1px solid lightgray;
    font-size: 1.05rem;
    height: 40px;
}

.book-filter input:focus-visible {
    border: 1px solid gray;
    outline: none;
}

form label {
    border-bottom: 1px solid #24B3A8;
    font-size: 1.25rem;
    width: fit-content;
    padding-bottom: 5px;
}

[name='title'] {
    grid-column: 1/2;
    grid-row: 2/3;
}

form label:not(:first-child) {
    grid-column: 2/4;
}