header {
    background-color: #282828;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    max-width: 95%;
    margin: auto;
}

.logo {
    user-select: none;
    color: #fff;
    cursor: pointer;
}

.app-header span {
    font-size: 3rem;
    font-family: eurofurence;
    letter-spacing: .2rem;
}

.app-header span:first-child {
    color: #24B3A8;
    margin-right: 0.3125rem;
}

nav>* {
    text-decoration: none;
    color: #fff;
    font-family: lato-bold;
    font-size: 1.15rem;
    display: inline-block;
}

nav>*:not(:last-child) {
    margin-inline-end: 30px;
}

nav>*:after {
    display: block;
    content: '';
    border-bottom: 2px solid #24B3A8;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    padding-top: 5px;
}

nav>*:hover:after {
    transform: scaleX(1);
}

.active {
    border-bottom: 2px solid #24B3A8;
}

.active::after {
    transform: unset;
    border-bottom: unset;
}