.book-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
    gap: 20px;
}

.to-add-book {
    text-align: center;
    display: block;
    margin-bottom: 30px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #24B3A8;
}

.to-add-book:hover {
    text-decoration: underline;
}