.expensive-price {
    color: red;
}

.cheap-price {
    color: green;
}

.book-details {
    margin-top: 30px;
    border-right: 1px solid #282828;
    border-left: 1px solid #282828;
    text-transform: capitalize;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-details h1 {
    font-size: 2rem;
}

.book-details h2 {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.author {
    margin-bottom: 10px;
}

.author :first-child, .price>*:first-child, .desc {
    font-family: lato-bold;
}

.book-details .author h3 {
    display: inline;
}

.book-details h3 {
    font-size: 1.15rem;
    margin-bottom: 10px;
}

.long-text {
    width: 50%;
    margin-bottom: 15px;
    text-align: center;
}

.long-text p {
    display: inline;
    margin-right: 5px;
}

.long-text button {
    border: none;
    background-color: transparent;
    font-family: lato-bold;
    font-size: 1rem;
}

.book-details img {
    margin-bottom: 10px;
}

.sale {
    width: 100px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.go-back, .prev-book, .next-book {
    border: none;
    background: transparent;
    font-size: 2.5rem;
    color: rgb(97, 97, 97);
    position: fixed;
    text-decoration: none;
}

.go-back {
    top: 0;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.prev-book {
    bottom: 6vh;
    left: 3%;
}

.next-book {
    bottom: 6vh;
    right: 3%;
}

.go-back:hover, .prev-book:hover, .next-book:hover {
    color: rgb(37, 37, 37);
}

.go-back span:first-child {
    margin-bottom: 3px;
}

.go-back span:last-child {
    font-size: 1.25rem;
    margin-left: 5px;
}